<div class="d-flex align-items-center flex-column">
    <% @image.each do |image| %>
    <div class="block card mb-5" style="width: 640;">
        <%= image_tag "https://ruby-on-rails-2021-09-26.s3.amazonaws.com/#{image.file_name}", width: '640' %>
        <div class="card-body">
            <h5 class="fw-bold card-title text-start"><%= image.caption %> </h5>
            <p class="fw-light"><%= image.created_at %> </p>
        </div>
    </div>
    <% end %>
</div>